*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 0 auto;
    padding: 0 auto;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    height: 150px;
}
.logo {
    display: flex;
}
.navegacion {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    margin: 10px;
}
nav ul li {
    background-color: darkgrey;
    float: right;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 25px;
    padding: 25px;
    float: left;
    align-items: center;
    padding: 5px;
    background-color: grey;
    border-radius: 30px;
    
}
/*ANIMACION HOVER A MENU NAVEGACION*/
.navegacion nav ul li a:hover{
    color: orangered;
    transform: scale(1.1);
    background: grey;
    border: 2px solid grey;

}

body {
    background-color: white;
 
}

main {
    padding: 200px 0 80px 0;
}

main h1 {
    color: grey;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
    padding-bottom: 30px;
    
    
}
main h2 {
    color: gray;
    text-align: center;
    text-transform: none;
    font-size: 2.5rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 50px;
    
}
.parrafo {
    width: 60%;
    color: gray ;
    text-align: center;
    text-transform: none;
    margin: 0 auto;
    font-size: 1.25rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 50px;
    padding: 10px 20px;
}
.parrafo span {
    font-weight:700;
}
.info{
    width: 60%;
    color: grey;
    text-align: center;
    text-transform: none;
    margin: 0 auto;
    font-size: 1.25rem;
    font-family:'Source Code Pro',monoespaciado;
    font-weight: 100px;
    padding-bottom: 50px;
    padding: 10px 20px;
}
.h1 {
    color: grey;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
    padding-bottom: 30px;

}
h1:hover{
    transform: scale(1.1);
}

.formulario {
    padding: 0 20px;
      
}
.form{
    color: grey;
    border: solid;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;

}
.nombre{
    color: grey;
    padding-bottom: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}
.textos{
    color: grey;
    padding-bottom: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}
.email{
    color: grey;
    padding-bottom: 10px;
    text-align: center;
    text-transform: none;
    font-size: 1.25rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}
.textoEmail{
    color: grey;
    padding-bottom: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}
.mensajes{
    color: grey;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;

} 
input {
    color: grey;
    border-radius: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}

textarea{
    color: grey;
    border-radius: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}

.check{
    color: grey;
    border-radius: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 100px;
}



.footer{
    text-decoration: none;
    text-align: end;
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    
}
.datos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}
.contenedor a {
    text-decoration: none;
    color: orangered;
  
}

.contenedor h4 {
    color:orangered;
    text-align: center;

}

.contenedor h3 {
    color: orangered;
    text-align: center;

}
.mapa {
    width: 100%;
}
footer .derechos {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

/* ====== GALERIA ===== */
.galeria {
    width: 40%;
	margin: 0 auto;
    display: flex;
    justify-content: center;
}

.galeria-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.card {
    display: block;
    width: 100%;
}
.card img {
    width: 100%;
    height: auto;
    border: 3px solid chocolate;
   
    
}
.card img:hover{
   transform: scale(1.15);
    
}

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;
        height: 198px;
    }
    main {
        padding: 250px 0 80px 0;
    }
    .galeria-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
/*texto galeria*/
.pRollitos{
    color: gray;
    text-align: center;
    text-transform: none;
    font-size: 1.5rem;
    font-family:'Source Code Pro', monoespaciado;
    font-weight: 20px;
    
}

/*boton whatsapp*/
.container-b{
    background-color: #2e6329;
    border: 1px solid #ffff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.container-b:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.btn-whatsapp{
    width: 80px;
    transition: ease 1s;

}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); 
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);    
    }   
}